.iconButton{
    border-radius: 100px;
    background-color: #3936364f;
    height: 42px;
    width: 42px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    transition: ease-in-out .3s ;
    transform: scale(1);


  
    &:hover{
        border: 1px solid orangered;
        transform: scale(1.1);
    
    
    }


}

.iconButton{
    border-radius: 100px;
    background-color: #3936364f;
    height: 60px;
    width: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    transition: ease-in-out .3s ;
    transform: scale(1);


  
    &:hover{
        border: 1px solid orangered;
        transform: scale(1.1);
    
    
    }
}

.iconButton-sm{
    border-radius: 100px;
    background-color: #3936364f;
    height: 24px;
    width: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    transition: ease-in-out .3s ;
    transform: scale(1);


  
    &:hover{
        border: 1px solid orangered;
        transform: scale(1.1);

    }


}

.BTNICON{
    outline: none;
    padding: 8px;
    color: #fb722e;
    background-color: #292828;
    padding: 12px ;
    text-transform: none;
    border-radius: 1000px;

    &:hover{
        border: 1px solid;
        border-color: #fb722e;
        color: white;
        background-color: #292828;


    }
    &:active{
        background-color: #0b0b0b;

    }
}