.iconButton{
    border-radius: 100px;
    background-color: #3936364f;
    height: 42px;
    width: 42px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    transition: ease-in-out .3s ;
    transform: scale(1);


  
    &:hover{
        border: 1px solid orangered;
        transform: scale(1.1);
    
    
    }


}

.iconButton-sm{
    border-radius: 100px;
    background-color: #3936364f;
    height: 24px;
    width: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    transition: ease-in-out .3s ;
    transform: scale(1);


  
    &:hover{
        border: 1px solid orangered;
        transform: scale(1.1);

    }


}