.controlHeader{
    color: white;
    height: 50px;
    padding: 8px 16px;
    font-family:"NexaLight" ;
    font-size: 16px;
background-color: #1615156e;
backdrop-filter: blur(30px);
width: fit-content;

}