@import "./Components/Components.scss";

//this isthe monument Extended Bold Font Woff upload////////////////

@font-face {font-family: "Monument Extended Bold";
    src: url("../../public/static/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.eot"); /* IE9*/
    src: url("../../public/static/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.eot?") format("embedded-opentype"), /* IE6-IE8 */
    url("../../public/static/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.woff2") format("woff2"), /* chrome、firefox */
    url("../../public/static/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.woff") format("woff"), /* chrome、firefox */
    url("../../public/static/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  }

//   //this isthe Nexa Bold Font Woff upload////////////////

  @font-face {font-family: "NexaBold";
    src: url("../../public/static/fonts/NexaBold/@font-face/23ab8b9b588d250d12590e755a4d00da.eot"); /* IE9*/
    src: url("../../public/static/fonts/NexaBold/@font-face/23ab8b9b588d250d12590e755a4d00da.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../public/static/fonts/NexaBold/@font-face/23ab8b9b588d250d12590e755a4d00da.woff2") format("woff2"), /* chrome、firefox */
    url("../../public/static/fonts/NexaBold/@font-face/23ab8b9b588d250d12590e755a4d00da.woff") format("woff"), /* chrome、firefox */
    url("../../public/static/fonts/NexaBold/@font-face/23ab8b9b588d250d12590e755a4d00da.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  }


//   //this isthe Nexa Light Font Woff upload////////////////

  @font-face {font-family: "NexaLight";
    src: url("../../public/static/fonts/NexaLight/@font-face/086d543873365bb6afb5c90eabb7c3e8.eot"); /* IE9*/
    src: url("../../public/static/fonts/NexaLight/@font-face/086d543873365bb6afb5c90eabb7c3e8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
   url("../../public/static/fonts/NexaLight/@font-face/086d543873365bb6afb5c90eabb7c3e8.woff2")format("woff2"),
   url("../../public/static/fonts/NexaLight/@font-face/086d543873365bb6afb5c90eabb7c3e8.woff")format("woff"),
   url("../../public/static/fonts/NexaLight/@font-face/086d543873365bb6afb5c90eabb7c3e8.ttf")format("truetype")
  }

main{
    
}

body{
    background-color: none!important;
    
}

canvas{
    touch-action: none;
}

.iframescreencontainer{
    max-width: 400px;
    max-height: 360px;

    iframe{
        position: absolute;
        top: -491px;
        left: -650px;
    }
}



.LoaderScreen{
  position:fixed;
color: white;
z-index: 200000000;
font-family: "Monument Extended Bold";
height:100vh;
font-size:24px;
width:100%;
background-color: #161515;
}

.LoaderScreen-active{
  top:-200%;
  transition: .7s ease-in;

}

.LoaderScreen-inactive{
  top:0%;
  transition: .7s ease-in;

}

.loadbutton{
  background-color: #3c3b3b;
  color:#FB722E;
    // font-family:"NexaLight" ;
    font-size: 10px;
    display: flex;
    padding: 10px 14px
  ;

  &:hover{
    background-color: #202020;

  }
}

.loadbutton-inactive{
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;
}

.loadbutton-active{
  opacity: 1;
  pointer-events: all;
  transition: 0.4s ease-in-out;

}


.blinkbtn {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: hsla(0, 0%, 100%, 0.095); -webkit-box-shadow: 0 0 3px #ffffff; }
  50% { background-color: #ffffff4a; -webkit-box-shadow: 0 0 3px #ffffff; }
  100% { background-color: #ffffff; -webkit-box-shadow: 0 0 3px #ffffff; }
}



@keyframes glowing {
  0% { background-color: hsla(0, 0%, 100%, 0.095); -webkit-box-shadow: 0 0 3px #ffffff; }
  50% { background-color: #ffffff09; -webkit-box-shadow: 0 0 40px #ffffff; }
  100% { background-color: #ffffff05; -webkit-box-shadow: 0 0 3px #ffffff; }
}